.MarketButton{
    width: 4rem;
    height: 4rem;
    background-color: var(--mainColor);
    color: white;
    line-height: 3.5rem;
    position: fixed;
    left: 1rem;
    top: 40%;
    font-size: 2rem;
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 .3rem rgba(0,0,0,0.4);
}