.input {
    position: relative;
    margin-bottom: 3rem;
}

.input label{
    position: absolute;
    top: 0;
    right: 1.5rem;
    background-color: var(--secondColor);
    color: white;
    padding: .5rem;
    font-size: 1.2rem;
    transform: translateY(-50%);
}

.input input{
    padding: 1.2rem 2rem;
    font-family: var(--mainFont);
    background-color: var(--thirdColor);
    border-radius: 2rem;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.input input::placeholder{
    color: var(--mainColor);
    font-size: 1.6rem;
}

.input input:focus{
    border: 1px solid var(--mainColor);
}

.Error{
    padding: .5rem;
    font-family: var(--secondFont);
    font-size: 1.1rem;
    color: #4d4d4d;
    background-color: var(--mainColor);
    border-radius: 2rem;
}